<!DOCTYPE html>
<html>
  <!-- 2017 Jay Kelkar <jkelkar@gmail.com> -->
  <!-- Free to use in any form -->
  <!-- Local components -->
  <head>
    <meta charset="utf-8">
    <title>list rendering - 07</title>    
    <script src="http://localhost:8080/node_modules/vue/dist/vue.js"></script>
    <link rel="stylesheet" type="text/css" 
        href="http://localhost:8080/static/css/examples.css" />
  </head>
  <body>




    <div id="app">
      <h2>A List rendering component</h2>
      <lister></lister>
    </div>




    <script>

      Vue.component('lister', {
        // this component shows lists in two ways

        template: `
<div>
  <ul>
    <li class="nodeco" v-for="user in users">
      <div style="border: 1px solid #ccc;margin-bottom: 10px;">
        <div v-for="(value, key) in user">
          <span class="blue">{{key}}</span>: <span>{{value}}</span>
        </div>
      </div>
    </li>
  </ul>
</div>`,

        data: function () {
          return {
            users: [
              {name: 'Jay', hobby: 'books'},
              {name: 'Erin', hobby: 'crafting'}
            ]
          }
        }
      })

      var app = new Vue({
        el: '#app',
        data: { 
        }
      })

    </script>
  </body>
</html>
