.reveal h1,
.reveal h2,
.reveal h3,
.reveal h4,
.reveal h5,
.reveal h6 {
  text-transform: none;
}
div.blue {
  background-color: dodgerblue !important;
}
div.grey {
  background-color: #eee !important;
}
.reveal .slides p {
  text-align: left;
  padding-left: 100px;
}
.reveal .slides p.smaller {
  text-align: left;
  padding-left: 100px;
  font-size: 24px;
}
h1#behaves {
  color: hotpink;
}
h4 em {
  color: dodgerblue;
}
section.grey p.smaller em {
  color: dodgerblue;
}
section.blue p em {
  color: black;
}
code {
  font-size: 32px;
}