body {
  padding: 20px 100px;
}
.big {
  font-size: 24px;
}
div.section {
  margin-bottom: 20px;
}
span {
  padding: 0 5px; 
  font-weight: bold;
  font-size: 24px;
}
.blue {
  color: #0099ff;
}
.color_special {
  color: hotpink;
}
div.black {
background-color: #eee;
}
div.red {
  background-color: #fcc;
}
div.bordered {
  border: 1px solid #999;
  width: 400px;
}
div.normal {
  border: 1px solid white;
  padding: 3px;
}
div.right {
  border: 1px solid #0b0;
  padding: 3px;
}
div.wrong {
  border: 1px solid #c00;
  padding: 3px;
}
span.tag {
  color: dodgerblue;
}
.highlight {
  background-color: #eee;
  letter-spacing: 2px;
  padding: 3px 5px;
}
li.nodeco {
  list-style-type: none;
}
li.red {
  color: red;
}
li.black {
  color: black;
}
.Vanilla {
  color: #fc4;
}
.Chocolate {
  color: chocolate;
}
.Strawberry {
  color: #f33;
}
.no {
  background-color: #f88;
}
.yes {
  background-color: #8f8;
}
input {
  padding: 3px 5px;
/* border-radius: 3px;*/
}
.fixed {
  font-family: 'Andale', sans-serif;
  font-size: 24px;
}