body {
  padding: 20px 100px;
}
.big {
  font-size: 24px;
}
div.section {
  margin-bottom: 20px;
}
span {
  padding: 0 5px; 
  font-weight: bold;
  font-size: 24px;
}
.blue {
  color: #0099ff;
}
.color_special {
  color: hotpink;
}
div.black {
background-color: #eee;
}
div.red {
  background-color: #fcc;
}
div.bordered {
  border: 1px solid #999;
  width: 400px;
}
.Vanilla {
  color: #fc4;
}
.Chocolate {
  color: chocolate;
}
.Strawberry {
  color: #f33;
}
.no {
  background-color: #f88;
}
.yes {
  background-color: #8f8;
}
input {
  padding: 3px 5px;
/* border-radius: 3px;*/
}
.fixed {
  font-family: 'Andale', sans-serif;
  font-size: 24px;
}