<!DOCTYPE html>
<html>
  <!-- 2017 Jay Kelkar <jkelkar@gmail.com> -->
  <!-- Free to use in any form -->
  <head>
    <meta charset="utf-8">
    <title>Reactive inputs - 04</title>    
    <script src="../node_modules/vue/dist/vue.js"></script>
    <link rel="stylesheet" type="text/css" 
        href="../static/css/examples.css" />
  </head>
  <body>






    <div id="app">
      <h2>Other input elements with v-model</h2>
      <div>
        <div style="float: left;margin-right: 50px;">
          <h2>Fast Food Self Order Station</h2>
          <div>
            <h4>Main Items</h4>
            <input type="checkbox" id="burger" value="Burger" v-model="foodOrder">
            <label for="burger">Burger</label>
            <input type="checkbox" id="fries" value="Fries" v-model="foodOrder">
            <label for="fries">Fries</label>
            <input type="checkbox" id="chicken" value="Chicken" v-model="foodOrder">
            <label for="chicken">Chicken</label>
            <div class="big blue">Checked names: 
              <span class="color_special">{{ foodOrder }}</span></div>
          </div>
          <div>
            <h4>Choice of Ice Cream</h4>
            <input type="radio" id="vanilla" value="Vanilla" v-model="icecream">
            <label for="vanilla">Vanilla</label>
            <br>
            <input type="radio" id="strawberry" value="Strawberry" v-model="icecream">
            <label for="strawberry">Strawberry</label>
            <br>
            <input type="radio" id="chocolate" value="Chocolate" v-model="icecream">
            <label for="chocolate">Chocolate</label>
            <br>
            <div class="big blue" >Ice cream choice: 
              <span class="color_special">{{ icecream }}</span></div>
          </div>
          <div class="section">
            <h4>Is this To GO?</h4>
            <input type="checkbox" v-model="togo" id="togo">
            <label for="togo"> To Go?</label>
            <div class="blue big">> 
              <span class="color_special">{{ togo ? 'To Go' : 'Eat In'}}</span></div>
          </div>
        </div>        
      </div>
    </div>
    <script>
      var app = new Vue({
        el: '#app',
        data: {
          togo: false,
          foodOrder: [],
          icecream: ''
        }
      })
    </script>




    
  </body>
</html>
