<!DOCTYPE html>
<html>
  <!-- 2017 Jay Kelkar <jkelkar@gmail.com> -->
  <!-- Free to use in any form -->
  <head>
    <meta charset="utf-8">
    <title>component composition - 17</title>    
    <script src="../node_modules/vue/dist/vue.js"></script>
    <script src="../static/js/techq.js"></script>
    <link rel="stylesheet" type="text/css" 
      href="../node_modules/semantic-ui/dist/semantic.css" />
    <script src="../node_modules/jquery/dist/jquery.min.js"></script>
    <script src="../node_modules/semantic-ui/dist/semantic.js"></script>
    <link rel="stylesheet" type="text/css" 
        href="../static/css/examples.css" />
  </head>
  <body>


    <div class="ui grid" id="app" 
      style="width: 800px;border: 1px solid black;margin:100px 0 0 100px;">
      <div class="five wide column"></div>
      <div class="seven wide column">
        <div style="width: 100%;font-weight: bold;">Practie Exam for ARRL Technician License</div>
      </div>
       <div class="four wide column"></div>
      <div class="four wide column">
        <p>Selected Questions</p>
        <show-list :ql="qlist" @newsel="handleSel"></show-list>
      </div>
      <div class="twelve wide column" >
        <div class="ui grid" style="margin-bottom: 10px;">
          <div class="thirteen wide column"></div>
          <div class="three wide column">
            <div class="ui positive basic button" @click="selectRandom(10)">Start</div>
          </div>
        </div>
        <show-main :q="q"  @chose="doChoose"></show-main>
      </div>
    </div>

    <script>
    // Component: show-list
      Vue.component('show-list', {
        props: ['ql'],
        data () {
          return {
            selTag: '',
            qlist: [],
            qx: [],
            // qsel: [],
            pos: 0
          }
        },

        template: `<div>
          <div :class="{'ui small': true, 'grey': !ql[index].selected, 'black': ql[index].selected, ' button': true}" style="margin-bottom: 5px;Display: block !important;"v-for="(q, index) in ql"            
            :key="index" @click="selectIt(index)">
            {{ q.tag }}
          </div>
        </div>`,
        
        methods: {
          selectIt: function (index) {
            this.$emit('newsel', index)
            this.pos = index 
          }
        }
      })

      // Component: show-main
      Vue.component('show-main', {
        template: `
<div>
  <form class="ui form" style="width: 100%;">
    <div class="field">
      <h3 class="highlight">Question {{ q.tag }}</h3>
      <div class="field" style="font-size: 17px;">
        {{ q.question }}
      </div>
    </div>
    <div class="field">     
      <div class="field" v-for="ch in 'A,B,C,D'.split(',')"  style="font-size: 16px;"
        :class="{'normal': !q.choiceList[ch], 'right': q.choiceList[ch]==='R', 'wrong': q.choiceList[ch]==='W'}">
        <div class="ui large label" @click="$emit('chose', ch)">Choice {{ ch }}</div>&nbsp;&nbsp;
         {{ q[ch] }}
      </div>
    </div>
  </form>
</div>
        `,
        props: ['q'],
        data: function () {
          return {
            qx: {
              pos: 0,
              tag: '',
              choiceList: {A: false, B: false, C: false, D: false},
              answer: "",
              question: '',
              A: '',
              B: '',
              C: '',
              D: ''
            }
          }
        },
        methods: {

        }
       })
      
      var app = new Vue({
        el: '#app',
        data: {
          questions: testq,
          qlist: [],
          ql: '',
          q: {
            pos: 0,
            tag: '',
            choiceList: {A: false, B: false, C: false, D: false},
            answer: "",
            question: '',
            A: '',
            B: '',
            C: '',
            D: ''
          },
          qsel: []
        },
        methods: {
          getRandomInt: function (min, max) {
            // return a random number >= min & < max
            return Math.floor(Math.random() * (max - min) + min);
          },
          selectRandom: function (selCount) {
            // select selCount random question tags and return in a list
            const nameList = Object.keys(this.questions)
            const namesLength = nameList.length
            const that = this

            this.qlist = []
            let i = 0
            while (this.qlist.length < selCount) {
              var itempos = this.getRandomInt(0, namesLength)
              // console.log('a', itempos)
              while (this.qlist.indexOf(itempos) !== -1) {
                itempos = this.getRandomInt(0, namesLength)
                // console.log('b', itempos)
              }
              let thisq = this.questions[nameList[itempos]]
              // console.log(thisq)
              // set up the selected questions of the interface
              let aq = {
                tag: nameList[itempos],
                selected: false,
                pos: itempos,
                choiceList: {A: false, B: false, C: false, D: false}
              }
              'question,answer,A,B,C,D'.split(',').forEach(function (item) {
                aq[item] = thisq[item]
              })
              this.qlist.push(aq)
              // reset the question to start or reset
              this.q = {
                pos: 0,
                tag: '',
                choiceList: {A: false, B: false, C: false, D: false},
                answer: "",
                question: '',
                A: '',
                B: '',
                C: '',
                D: ''
              }
            }
          },
          handleSel: function (index) {
            // Handle change of selected item
            let that = this
            this.qlist.forEach(function (item, i) {
              that.qlist[i].selected = false
              that.qlist[i].choiceList = {A: false, B: false, C: false, D: false}
            })
            this.qlist[index].selected = true
            this.q = this.qlist[index]
          },
          doChoose: function (letter) {
            // console.log('doChoose: ', letter)
            this.q.choiceList[letter] = this.q.answer === letter ? 'R' : 'W'
          }
        }
      })
    </script>
    
  </body>
</html>
